.w-h-100{
    width: 100px !important;
    height: 100px !important;
    z-index: 2;
}

.btn-add{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    border-radius: 50%;
    background: #000;
    width: 50px !important;
    height: 50px !important;
}

.btn-add div{
    position: relative;
    width: 50px !important;
    height: 50px !important;
}

.btn-add div div{
    background: violet;
    margin: 0;
    clip-path: polygon(0% 40%, 40% 40%, 40% 0%, 60% 0%, 60% 40%, 90% 40%, 90% 60%, 60% 60%, 60% 90%, 40% 90%, 40% 60%, 0% 60%);
    width: 20px !important;
    height: 20px !important;
}

.modal-dialog .modal-content{
    height: 90vh;
}

.point{
    width: 1px;
    height: 1px;
    background: #000;
}

.content .cus-pol{
    border: #000 solid 1px;
}

.item-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dot-location{
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 300px;
}

.form-control.m-1{
    width: max-content;
}

.bg-black{
    background: #000;
}